'global':
  'editor':
    'fontSize': 14
    'lineHeight': 1.7
    'showInvisibles': true
    'softWrap': true
    'showIndentGuide': true
    'fontFamily': 'Menlo'
    'tabLength': 4
    'scrollPastEnd': true
    'preferredLineLength': 120
    'invisibles': {}
    'confirmCheckoutHeadRevision': false
  'core':
    'themes': [
      'neutron-ui'
      'neutron-syntax'
    ]
    'disabledPackages': [
      'metrics'
      'language-c'
      'language-go'
      'language-java'
      'language-objective-c'
      'language-php'
      'language-perl'
      'language-ruby'
      'language-ruby-on-rails'
      'language-toml'
      'styleguide'
      'welcome'
      'autocomplete'
    ]
    'destroyEmptyPanes': false
  'exception-reporting':
    'userId': 'baddc7d1-03c8-6c0c-d012-b60bc75b03b5'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': 'b7fa566fb5c2241960a0362553c9c5755e4b08a6'
  'git-diff':
    'showIconsInEditorGutter': true
  'linter':
    'showStatusBarWhenCursorIsInErrorRange': true
    'lintOnChange': false
    'showHighlighting': false
  'remember-session':
    'x': 0
    'y': 22
    'width': 1440
    'height': 874
    'treeWidth': 308
    'path': '/Users/sysoev/Development/JavaScript'
    'tabs': ''
    'selectedTab': ''
  'autocomplete-plus':
    'includeCompletionsFromAllBuffers': true
  'save-session':
    'dataSaveFolder': '/Users/sysoev/Development/dotfiles/.atom/packages/save-session/projects'
    'windowX': 0
    'windowY': 23
    'windowWidth': 1440
    'windowHeight': 873
    'project': '/Users/sysoev/Development/JavaScript/dayreview'
  'css-comb':
    'config': 'yandex'
  'tree-view':
    'hideIgnoredNames': true
