'SERP':
  'title': 'SERP'
  'paths': [
    '/Users/sysoev/Development/serp'
  ]
'dotfiles':
  'title': 'dotfiles'
  'paths': [
    '/Users/sysoev/Development/dotfiles'
  ]
'JavaScript':
  'title': 'JavaScript'
  'paths': [
    '/Users/sysoev/Development/JavaScript'
  ]
'Experiments':
  'title': 'Experiments'
  'paths': [
    '/Users/sysoev/Development/Experiments'
  ]
