# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.idea
.vscode
jsconfig.json

node_modules
.node-bin/node_modules
npm-debug.log
